.router-link-active {
    border-bottom: #00AA00 5px solid;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid none;
    border-radius: 5px;
    background-color: whitesmoke;
    .product {
        flex-basis: 10em;
        margin: 1em;
        padding: 1em;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
    }
    img {
        float: left;
        width: 128px;
        height: 128px;
        margin-bottom: 1em;
    }
    .product-info {
        font-size: small;
    }
    .add {
        float: right;
    }
    .is-disabled {
        pointer-events: none;
        opacity: .7;
    }
    .price {
        display: flex;
        align-items: flex-start;
    }
    .amount {
        font-size: x-large;
    }
}
